.root {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}
ul {
    display:inline-block;
}
.ans_table_container {
    display: flex;
    justify-content: center;
    align-items: center; 
}